@import '/src/utils/variables';
@import '/src/utils/mixins';

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $white;
  width: 84px;
  height: 18px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  @include desktop(768px) {
    height: 25px;
    width: 115px;
    font-size: 14px;
    border-radius: 10px;
  }
}
