@import '/src/utils/mixins';

.profile {
  display: flex;
  align-items: center;
  &__names {
    font-size: 12px;
    margin-right: 10px;
  }
  &__picture {
    width: 32px;
    object-fit: cover;
    border-radius: 50px;
  }
  @include desktop(768px) {
    &__names {
      font-size: 18px;
    }
    &__picture {
      width: 64px;
    }
  }
}
