@import '/src/utils/variables';
@import '/src/utils/mixins';

.logement {
  color: $primary-color;
  &__header {
    font-size: 18px;
    margin: 15px 0 5px;
    line-height: 140%;
  }
  &__location {
    font-size: 14px;
    margin: 0 0 10px;
  }
  &__tags {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 15px;
  }
  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px;
  }
  &__colapses {
    display: grid;
    row-gap: 20px;
  }
  @include desktop(768px) {
    display: flex;
    flex-direction: column;
    &__header {
      font-size: 36px;
    }
    &__location {
      font-size: 18px;
    }
    &__infos {
      margin-top: -130px;
      justify-self: flex-end;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      .rating {
        margin-top: 10px;
      }
    }
    &__tags {
      margin-top: 15px;
    }
    &__colapses {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 76px;
      .colapse:not(:has(.colapse__header--arrow.active)) {
        height: 54px;
      }
    }
  }
}
