@import '/src/utils/variables';
@import '/src/utils/mixins';

.logement {
  color: $primary-color;
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    'carousel carousel'
    'header header'
    'location location'
    'tags tags'
    'rating profile'
    'colapses colapses';
  .carousel {
    grid-area: carousel;
  }
  &__header {
    grid-area: header;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 5px;
    line-height: 140%;
    @include desktop(768px) {
      margin: 30px 0 0;
      font-size: 36px;
    }
  }
  &__location {
    grid-area: location;
    color: $black;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 10px;
    @include desktop(768px) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
  &__tags {
    grid-area: tags;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0 0 16px;
    @include desktop(768px) {
      align-self: center;
      height: max-content;
      margin: 0;
    }
  }
  .profile {
    width: max-content;
    grid-area: profile;
    justify-self: end;
    align-self: center;
    margin-bottom: 13px;
    @include desktop(768px) {
      margin-top: 24px;
      align-self: start;
    }
  }
  .rating {
    width: max-content;
    grid-area: rating;
    justify-self: start;
    align-self: center;
    margin-bottom: 13px;
    @include desktop(768px) {
      justify-self: end;
      align-self: flex-start;
      margin: 0;
    }
  }
  &__colapses {
    grid-area: colapses;
    display: grid;
    row-gap: 20px;
    @include desktop(768px) {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 76px;
      .colapse:not(:has(.colapse__header--arrow.active)) {
        height: 54px;
      }
    }
  }
  @include desktop(768px) {
    grid-template-areas:
      'carousel carousel carousel'
      'header header profile'
      'location location profile'
      'tags rating rating'
      'colapses colapses colapses';
  }
}
