@import '/src/utils/variables.scss';
@import '/src/utils/mixins.scss';

.home {
  &__content {
    @include desktop {
      position: relative;
      z-index: -2;
      padding: 50px;
      background-color: $gray;
      display: flex;
      flex-flow: row wrap;
      margin-top: 50px;
      border-radius: 25px;
      gap: 50px;
    }
  }
}
