@import '/src/utils/variables.scss';
@import '/src/utils/mixins.scss';

.home {
  &__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 20px;
    @include desktop {
      padding: 50px;
      background-color: $gray;
      margin-top: 50px;
      border-radius: 25px;
      row-gap: 50px;
      column-gap: 50px;
      align-items: stretch;
    }
  }
}
