@import '/src/utils/mixins';
@import '/src/utils/variables';

.colapse {
  position: relative;
  background-color: $gray;
  border-radius: 5px;
  margin-bottom: 20px;
  &__header {
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white;
    &--arrow {
      width: 18px;
      transform: rotate(270deg);
      transition: transform 0.3s ease;
      &.active {
        transform: rotate(90deg);
      }
    }
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
  }
  &__content {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    color: $primary-color;
    transition: margin 0.3s ease;
    &.hidden {
      margin-top: -100%;
    }
  }
  @include desktop(768px) {
    max-width: 1023px;
    &__header {
      height: 54px;
      font-size: 24px;
      &--arrow {
        width: 24px;
      }
    }
    &__content {
      font-size: 18px;
    }
  }
}
