@import '/src/utils/mixins';
@import '/src/utils/variables.scss';

.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 255px;
  &__img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__arrow {
    position: absolute;
    right: 0;
    width: 9%;
    height: auto;
    &--prev {
      margin-left: 0;
      left: 0;
      transform: rotateY(180deg);
    }
  }
  &__progression {
    width: 100%;
    font-size: 18px;
    color: $white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  @include desktop {
    height: 415px;
  }
}
