@import '/src/utils/mixins';

.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 255px;
  &__img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__arrow {
    position: absolute;
    right: 0;
    width: 7%;
    &--prev {
      margin-left: 0;
      left: 0;
      transform: rotateY(180deg);
    }
  }
  @include desktop {
    height: 415px;
  }
}
