@import '../../utils/variables';
@import '../../utils/mixins';

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 113px;
  margin: 113px 0;
  &__header,
  &__text,
  &__link {
    color: $primary-color;
    text-align: center;
    margin: 0;
  }
  &__header {
    font-size: 96px;
  }
  &__text {
    font-weight: normal;
    line-height: 142.6%;
    font-size: 18px;
    width: 260px;
  }
  &__link {
    font-size: 14px;
  }
  @include desktop {
    row-gap: 139px;
    &__header {
      font-size: 288px;
    }
    &__text {
      font-size: 36px;
      width: auto;
    }
    &__link {
      font-size: 18px;
    }
  }
}
