@import './utils/mixins.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.content {
  box-sizing: border-box;
  padding: 20px;
  @include desktop {
    padding: 40px 100px;
  }
}
